body {
	margin: 0;
	font-family: "Cuprum", Arial, sans-serif;
	color: #000000;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

/*header*/
.main-header {
  background-color: #f4f7f9;
}

.header-top {
	background-color: #293449;
}

.main-header-logo {
  width: 110px;
  height: 18px;
	background-color: #ee3643;
	font-weight: normal;
}

.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:focus {
  background-color: #ba2732;
}

.search input {
	background-color:#293449;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.search input:hover {
	background-color: #212a3a;
}

.search input:focus {
	background-color: #ffffff;
	color: #000000;
}

.main-header-bookmarks,
.main-header-basket {
	background-color: #293449;
	color: #ffffff;
	font-size: 17px;
  line-height: 18px;
}
.main-header-bookmarks:hover,
.main-header-basket:hover {
 background-color: #212a3a;
}

.main-header-bookmarks:focus,
.main-header-basket:focus {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.main-header-top {
	background-color: #63a63e;
	color: #ffffff;
	width: 17px;
	height: 18px;
}

.main-header-top:hover {
	background-color: #5fbb2d;
}

.main-header-top:focus {
  background-color: #518534;
  color:rgba(255, 255, 255, 0.5);
}

.title {
	background-color: #f1f5f7;
	color:#ee3643;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	font-weight: inherit;
}
.address {
background-color: #f1f5f7;
font-style: normal;
}

.address a {
  color: #e9292a;
	font-size: 21px;
	line-height: 21px;
	letter-spacing: 0.42px;
}

.address p {
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
}

.login-link {
  background-color: #ffffff;
  color: #000000;
	font-size: 21px;
	line-height: 21px;
}

.login-link:hover {
	color: #ee3643;
}
.login-link :focus {
	color: rgba(0, 0, 0, 0.3);
}


.main-navigation,
.navigation-list {
  list-style: none;
}

.main-navigation,
.navigation-list {
  color:#ffffff;
  background-color: #32425c;
	font-size: 17px;
	line-height: 17px;
}

.main-navigation a,
.navigation-list a {
  color:#ffffff;
}

.main-navigation:hover
.navigation-list:hover {
	background-color: #293449;
	color:#ffffff;
}

.main-navigation:focus,
.navigation-list li:focus {
	background-color: #1d2739;
	color:rgba(255, 255, 255, 0.5);
}

/*main*/

.type-services {
	color:#ffffff;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

.type-services-mat {
	background-color:#ffbf47;
	background-image: url("../img/svg-technomart/icon-1.svg");
	background-repeat: no-repeat;
	background-size: 44px 65px; 
}

.type-services-tool {
	background-color:#3bbce3;
	background-image: url("../img/svg-technomart/icon-2.svg");
	background-repeat: no-repeat;
	background-size: 75px 61px; 
}

.type-services-tech {
	background-color:#dc91d8;
	background-image: url("../img/svg-technomart/icon-3.svg");
	background-repeat: no-repeat;
	background-size: 78px 62px; 
}

.type-services-sale {
	background-color:#8ed78f;
	background-image: url("../img/svg-technomart/icon-4.svg");
	background-repeat: no-repeat;
	background-size: 59px 72px; 
}

.type-services-del {
	background-color:#ffc047;
	background-image: url("../img/svg-technomart/icon-5.svg");
	background-repeat: no-repeat;
	background-size: 59px 72px; 
}

.new-icon {
	background-image: url("../img/new.png");
	background-repeat: no-repeat;
	background-size: 78px 63px; 
}

.button {
	font-size: 14px;
	line-height: 18px;
	background-color: rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	color:#ffffff;
}

.button:hover {
	background-color:rgba(0, 0, 0, 0.2);
}

.button:focus {
	background-color: rgba(0, 0, 0, 0.3);
}

.slides-image label {
	color: #ffffff;
  font-size: 18px;
	line-height: 24px;
  background-image: url("../img/slide-1.png");
	background-repeat: no-repeat;
	background-size: 620px;
}

.slider-name {
  font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	font-weight: bold;	
}

.button-company,
.button-slides,
.button-goods,
.button-makers {
	background-color: #ee3643;
	color:#ffffff;
  font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: normal;
}

.button-slides:hover {
	background-color: #ca2c37;
}

.button-slides:focus {
	background-color: #ba2732;
}	

.popular-goods,
.popular-makers {
 background-color: #f9f5f0;	
}

.popular-goods h2,
.popular-makers h2 {
	color: #32425c;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
}

.catalog-item  {
  list-style: none;
}

.catalog {
	background-color: #ffffff;
	color: #000000;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: bold;
}
.catalog-item {
  font-size: 18px; /* почему то зачеркивает этот показатель*/
	line-height: 20px;
}	

.price {
	font-size: 17px;
	line-height: 20px;
	color: #a9a9a9;
	text-decoration: line-through;
}

.price-sale {
	background-color: #ee3643;
	color: #ffffff;
	font-size: 17px;
	line-height: 20px;
}

.button-basket {
	font-family: "Cuprum", Arial, sans-serif;
	background-color: #63a63e;
}

.button-basket:hover {
	background-color: #5fbb2d;
}

.button-basket:focus {
	background-color: #518534;
}

.button-bookmarks {
	font-family: "Cuprum", Arial, sans-serif;
	color: #32425c;
	background-color: #ffffff;
	border: 3px solid #63a63e;
}

.button-bookmarks:hover {
	color: #32425c;
	border: 3px solid #32425c;
}

.button-bookmarks:focus {
	color: rgba(50, 66, 92, 0.3);
	border: 3px solid rgba(50, 66, 92, 0.3);
}

.item-makers {
	list-style: none;
}

.item-makers li {
	width: 220px;
  height: 145px;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.item-makers li:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.item-makers li:focus {
	opacity: 0.3; /*как картинку выполнить полупрозрачной ????*/
	box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}
.services {
	background-color: #f2f6f8;
}
.company,
.services h2 {
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
	font-weight: normal;
}

.services p,
.inform p {
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: normal;
}

.slide-windows h3 {
	font-weight: normal;
	font-size: 30px;
	line-height: 24px;
	color: #32425c;
	text-transform: uppercase;
}

.slider-windows-delivery{
	background-color: #f2f6f8;
	background-image: url("../img/slide-delivery.png");
	background-repeat: no-repeat;
	background-size: 468px 261px; 
}

.slide-windows-assurance{
	background-color: #f2f6f8;
	background-image: url("../img/slide-assuranсe.png");
	background-repeat: no-repeat;
	background-size: 389px 283px; 
}

.slide-windows-credit{
	background-color: #f2f6f8;
	background-image: url("../img/slide-credit.png");
	background-repeat: no-repeat;
	background-size: 465px 285px; 
}

.slider-control {
	list-style: none;
}

.slide {
	background-color: #32425c;
	font-family: "Cuprum", Arial, sans-serif;
	color: #ffffff;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
}

.slide:hover {
	background-color: #293449;
}

.slide:focus {
	background-color: #ffffff;
	color: #32425c;
}

.transport-company li {
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: normal;
}

/*footer*/

.main-footer-logo {
  color: #ffffff;
  border: 5px solid #ee3643;
  box-shadow: inset rgba(0, 0, 0, 0.24);
  background-color: #ee3643;	
}

.footer-top {
	background-color: #32425c;;
}

.footer-bottom {
	background-color: #293449;
}
.button-social,
.footer-email span,
.footer-copyright {
  color: #ffffff;
  font-size: 16px;
	line-height: 18px;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: normal;
}

.footer-info,
.footer-goods,
.social-button {
	list-style: none;
}

.contacts a,
.contacts p,
.footer-info li,
.footer-goods li {
	color: #f1f5f7;  /*не активен ????*/
	font-size: 18px;
	line-height: 24px;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}

.footer-goods li:hover,
.footer-info li:hover,
.button-social:hover {
  text-decoration: underline;
}

.footer-goods li:focus,
.footer-info li:focus {   /*не активно????*/
	opacity: 0,5;
}

.button-social {
color: #ffd180;
}

.button-social:focus {
	color: #ee3643;
}

.social-type {
  list-style: none;
}

.social-icon {/*не отображаются*/
  display: flex;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
}

/*modal*/

.modal-letter label {
  font-size: 18px;
  line-height: 18px;
}

.modal-letter input {
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  font-family: "PT Sans", Arial, sans-serif;
}

.button-send input {
	background-color: #ee3643;
	color:#ffffff;
  font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: normal;
}

.modal-close {/*не отображается крестик*/
  background-image: url("../img/svg-technomart/checkbox-off.svg");
	background-repeat: no-repeat;
	background-size: 21px 21px; 
}





