body {
	margin: 0;
	font-family: "Cuprum", Arial, sans-serif;
	color: #000000;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

/*header*/

.main-header {
  background-color: #f4f7f9;
}

.header-top {
  background-color: #293449;
}

.main-header-logo {
	position: relative;
	width: 220px;
	min-height: 42px; 
  background-color: #ee3643;
	font-weight: normal;
	text-align: center;
}

.main-header-logo img {
	width: 111px;
	height: 18px;
	border: 0;
	padding-top: 12px;
}

.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.main-header-logo::after {
  content: "";
  position: absolute;
  top: 42px;
  left: 0px;
  width: 220px;
  height: 5px;
  background-color: #b52933;;
}

.search {
	display: flex;
	position: relative;
	width: 270px;
}

.search input[type="text"] {
	width: 270px;
	padding-left: 48px;
	color: #ffffff;
  font-size: 17px;
	line-height: 18px;
	background-color:#293449;
	border: none;
}

.search::before {
	content: "";
	width: 17px;
	height: 17px;
	position: absolute;
	background-image: url("../img/svg-technomart/icon-search.svg");
	background-repeat: no-repeat;
	left: 15px;
	top: 13px;
	opacity: 0.3; 
}

.search input:hover {
	background-color: #212a3a;
}

.search input:focus {
	background-color: #ffffff;
	color: #000000;
}

.search:hover::before {
	opacity: none; 
}

.search:focus::before {
	background-image: url("../img/svg-technomart/icon-search-red.svg");
}

.main-header-bookmarks,
.main-header-basket,
.main-header-order {
	background-color: #293449;
	color: #ffffff;
	font-size: 17px;
	line-height: 18px;
	width: 150px;
	padding-top: 12px;
}

.main-header-bookmarks:hover,
.main-header-basket:hover {
 background-color: #212a3a;
}

.main-header-bookmarks:active,
.main-header-basket:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

/*.main-header-bookmarks:active,
.main-header-basket:active { 
 background-color: #ee3643;
} когда есть закладка или товар в карзине-красным исправить-*/

.main-header-order {
	text-align: center;
	background-color: #63a63e;
}

.main-header-order:hover {
	background-color: #5fbb2d;
}

.main-header-order:active {
  background-color: #518534;
  color:rgba(255, 255, 255, 0.5);
}


.title {
	background-color: #f1f5f7;
	color:#ee3643;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
  font-weight: normal;
  text-align: left;
}

.address {
  background-color: #f1f5f7;
  font-style: normal;
}

.address a {
	position: relative;
  color: #e9292a;
	font-size: 21px;
	line-height: 21px;
}

.address a::before {
	content: "";
	position: absolute;
	width: 19px;
	height: 19px;
	background-image: url("../img/svg-technomart/icon-phone.svg");
	background-repeat: no-repeat;
	border: 0;
  left: 12px;
	top: 7px;
}

.address p {
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
}

.login-link a {
	background-color: #ffffff;
  color: #000000;
	font-size: 21px;
	line-height: 21px;
}

.login-link a:hover {
	color: #ee3643;
}

.login-link a:focus {
	color: rgba(0, 0, 0, 0.3);
}

.login-link-enter {
	background-image: url("../img/svg-technomart/icon-user.svg");
	background-repeat: no-repeat;
	background-size: 20px 18px;
	color: #000000;
}

.login-link-enter:hover {
	border: 2px solid #b5b5b5;
}

.login-link-enter:focus {
	border: 2px solid #ee3643;
	opacity: rgba(0, 0, 0, 0.3);
}

.login-link-exit {
	background-image: url("../img/svg-technomart/icon-logout.svg");
	background-repeat: no-repeat;
	background-size: 20px 17px;
}

.user-navigation a {
	color: #32425c;
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
}

.user-navigation a:hover {
	color: #ee3643;
}

.user-navigation a:focus {
	color: rgba(50, 66, 92, 0.3);
}

.container .main-navigation {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.navigation-list {
	list-style: none;
	width: 940px;
	min-height: 60px;
  padding: 0;
	margin: 0;
	padding-left: 52px;
	background-color: #32425c;
}

.navigation-list li {
  display: inline-block;
  margin-right: -5px;
}

.navigation-list a {
	display: block;
	padding: 20px 60px 22px 0px;
	margin: 0;
	margin-left: 1px;
}

.navigation-list a {
  color:#ffffff;
  background-color: #32425c;
	font-size: 17px;
  line-height: 17px;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.navigation-list a:hover {
	background-color: #293449;
	color:#ffffff;
}

.navigation-list a:active {
	background-color: #1d2739;
	color:rgba(255, 255, 255, 0.5);
}


/*main*/

.box {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-left: 23px;
	padding-right: 22px;
	padding-bottom: 22px;
	margin-bottom: 20px;
	width: 255px;
}

.type-services h3 {
	color:#ffffff;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	margin-bottom: 14px;
}

.type-services-item .new-icon::before {
	top:-1px;
	right: 1px;
	width: 60px;
	height: 59px;
	border: 0;
	font: 0;
	content: "";
	position: absolute;
	background-image: url("../img/new.png");
	background-repeat: no-repeat;
}

.type-services-mat {
	background-color:#ffbf47;
	background-image: url("../img/svg-technomart/icon-1.svg");
	background-repeat: no-repeat;
	background-size: 44px 65px;
	background-position: 213px 31px;
}

.type-services-tool {
	background-color:#3bbce3;
	background-image: url("../img/svg-technomart/icon-2.svg");
	background-repeat: no-repeat;
	background-size: 75px 61px; 
	background-position: 197px 33px;
}

.type-services-tech {
	background-color:#dc91d8;
	background-image: url("../img/svg-technomart/icon-3.svg");
	background-repeat: no-repeat;
	background-size: 78px 62px; 
	background-position: 191px 31px;
}

.type-services-sale {
	background-color:#8ed78f;
	background-image: url("../img/svg-technomart/icon-4.svg");
	background-repeat: no-repeat;
	background-size: 59px 72px; 
	background-position: 196px 26px;
}

.type-services-del {
	background-color:#ffc047;
	background-image: url("../img/svg-technomart/icon-5.svg");
	background-repeat: no-repeat;
	background-size: 78px 63px; 
	background-position: 192px 32px;
}

.button {
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
  color:#ffffff;
	background-color: rgba(0, 0, 0, 0.1);
  padding-top: 14px;
  padding-bottom: 14px;  
	border-radius: 3px;
	text-align: center;
	vertical-align: top;  
	font-weight: normal;
}

.button-services {
	width: 135px;
	padding-top: 9px;
	padding-bottom: 9px;  
}

.button:hover {
	background-color:rgba(0, 0, 0, 0.2);
}

.button:focus {
	background-color: rgba(0, 0, 0, 0.3);
}


/*доделать слайдер*/

.slides-index {
	position: relative;
	width: 576px;
	background-color: #f9f5f0;
	
}

.slides-image .slider-first {
	background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
}

.slides-image .slider-next {
	display: none;
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;		
}

.slides-image label {
	color: #ffffff;
  font-size: 18px;
	line-height: 24px;
	margin: 0;
	padding: 0;
}

.slides-image h3 {
  font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
	margin: 0;
	padding: 0;
}

.button-slides {
	width: 195px;
	padding-top: 10px;
	padding-bottom: 10px;  
}

.slides-control {
	position: absolute;
	top: 220px;
	left: 295px;
}

/*
.slides-control::before{
	content: "";
	background-image: url("../img/svg-technomart/icon-right-small.svg");
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}

.slides-control::after{
	content: "";
	background-image: url("../img/svg-technomart/checkbox-on.svg");
	background-repeat: no-repeat;
}*/

.slides-arrow {
	content: "";
	width: 22px;
	height: 40px;
	color: transparent;
	/*z-index: 10;*/
	/*width: 100%;
	height: 40px;*/
}

.slides-arrow label:first-child {
  background-image: url("../img/svg-technomart/icon-left.svg");
	background-repeat: no-repeat;
	top: 114px;
	right: 23px;
}

.slides-arrow label:last-child {
  background-image: url("../img/svg-technomart/icon-right.svg");
	background-repeat: no-repeat;
	top: 114px;
	right: 100px;
	transform: rotate(180deg);
}


.button-send,
.button-order,
.button-goods,
.button-makers, 
.button-slides,
.button-company,
.button-contacts {
	background-color: #ee3643;	
}

.button-makers:hover,
.button-goods:hover,
.button-slides:hover,
.button-company:hover,
.button-contacts:hover {
	background-color: #ca2c37;
}

.button-makers:active,
.button-goods:active,
.button-slides:active,
.button-company:active,
.button-contacts:active {
	background-color: #ba2732;
}	

.popular-goods,
.popular-makers {
  background-color: #f9f5f0;	
}

.popular-goods h2,
.popular-makers h2 {
	color: #32425c;
	font-weight: normal;
	font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-item {
	position: relative;
	list-style: none;
  background-color: #ffffff;
	color: #000000;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	justify-content: space-between;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-list .new-icon::before {
	top:0;
	right: 0px;
	width: 60px;
	height: 59px;
	border: 0;
	font: 0;
	content: "";
	position: absolute;
	background-image: url("../img/new.png");
	background-repeat: no-repeat;
	z-index: 1;
}

.catalog-item h3 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: auto;
	margin-top: 10px;
}

.price {
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
  text-decoration: line-through;
	font-weight: bold;
	text-align: center;
	margin-bottom: auto;
}

.price-sale {
	position: relative;
	background-color: #ee3643;
	color: #ffffff;
	font-size: 17px;
  line-height: 18px;
	font-weight: bold;
	width: 131px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	border: 3px solid #ee3643;
	margin-left: 43px;
	margin-bottom: 21px;
}

.price-sale::after {
	content: "";
	position: absolute;
	top: -3px;
	right: -28px;
	width: 0;
	height: 0;
	border: 20px solid #fff;
	border-left-color: rgb(255, 255, 255);
	border-left-color: #ee3643;
}

.button-basket {
	position: relative;
	width: 135px;
	background-color: #63a63e;
}

.button-basket::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background-image: url("../img/svg-technomart/icon-cart.svg");
	background-repeat: no-repeat;
	border: 0;
	left: 12px;
	top: 12px;
	opacity: 0.3;
}

.button-basket::before:hover,
.button-basket::before:active {
	opacity: none;
}


.button-basket:hover {
	background-color: #5fbb2d;
}

.button-basket:active {
	background-color: #518534;
}

.button-bookmarks {
	width: 129px;
	color: #32425c;
	background-color: #ffffff;
	border: 3px solid #63a63e;
	margin-bottom: 15px;
  margin-top: 7px;
}

.button-bookmarks:hover {
	color: #32425c;
	background-color: #ffffff;
	border: 3px solid #32425c;
	opacity: none;
}

.button-bookmarks:active {
	color: rgba(50, 66, 92, 0.3);
	border: 3px solid rgba(50, 66, 92, 0.3);
}

.item-makers {
	list-style: none;
}

.item-makers {
	width: 218px;
  min-height: 145px;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.list-makers li:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.list-makers li:active {
	opacity: 0.3; 
	box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.transport-company {
	list-style: none;
	position: relative;
	padding-left: 36px;
}

.transport-1::before {
  position: absolute;
	content: "";
	top: 13px;
	left: 0px;
	width: 25px;
	height: 2px;
	background-color: #ee3643;
}

.transport-2::before {
  position: absolute;
	content: "";
	top: 54px;
	left: 0px;
	width: 25px;
	height: 2px;
	background-color: #ee3643;
}

.transport-3::before {
  position: absolute;
	content: "";
	top: 93px;
	left: 0px;
	width: 25px;
	height: 2px;
	background-color: #ee3643;
}

.transport-company li {
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: normal;
	bottom: 0;
	padding-top: 5px;
	padding-bottom: 15px;
}

.button-company {
  width: 220px;
  padding-top: 10px;
	padding-bottom: 10px;
	margin-top: auto;
}

.button-contacts {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: auto;
}

/*footer*/

.main-footer-logo {
	position: relative;
	width: 220px;
	min-height: 63px; 
  background-color: #ee3643;
	font-weight: normal;
	text-align: center;
}

.main-footer-logo img {
	width: 138px;
	height: 23px;
	border: 0;
	padding-top: 17px;
}

.main-footer-logo:hover {
  background-color: #ca2c37;
}

.main-footer-logo:active {
  background-color: #ba2732;
}

.main-footer-logo::after {
  content: "";
  position: absolute;
  top: 63px;
  left: 0px;
  width: 221px;
  height: 5px;
  background-color: #b52933;;
}

.contacts p {
  margin: 0;
	margin-top: 30px;
}

.main-footer {
	background-color: #32425c;;
}

.footer-bottom {
	background-color: #293449;
}

.button-social,
.footer-email span,
.footer-developed,
.footer-copyright {
  color: #ffffff;
  font-size: 16px;
	line-height: 18px;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: normal;
}

.footer-info,
.footer-goods,
.social-button {
	list-style: none;
}

.contacts a,
.contacts p {
	color: #f1f5f7;
	font-size: 18px;
	line-height: 24px;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	margin-left: 2px;
}

.footer-info li a,
.footer-goods li a {
	color: #f1f5f7;
	font-size: 18px;
	line-height: 24px;
}

.footer-goods li a {
	color: #ffd180;
}

.footer-goods li:hover,
.footer-info li:hover,
.button-social:hover {
  text-decoration: underline;
}

.footer-goods li a:active,
.footer-info li a:active {
	opacity: 0.5;
}

.button-social {
  color: #ffd180;
}

.button-social:active {
	color: #ee3643;
}

.social-type {
	list-style: none;
}

.social-type li {
	background-color: #212a3a;
	width: 42px;
	height: 42px;
	border-radius: 42px;
	position: relative;
}

.social-icon-vk {
	position: absolute;
	top:13px;
	left:7px;
	width: 26px;
	height: 15px;
	background-image: url("../img/svg-technomart/icon-vk.svg");
	background-repeat: no-repeat;
}

.social-icon-fb {
	position: absolute;
	top:10px;
	left:14px;
	width: 12px;
	height: 22px;
	background-image: url("../img/svg-technomart/icon-fb.svg");
	background-repeat: no-repeat;
}

.social-icon-insta {
	position: absolute;
	top:10px;
	left:11px;
	width: 21px;
	height: 21px;
	background-image: url("../img/svg-technomart/icon-insta.svg");
	background-repeat: no-repeat;
}

.social-type li:hover,
.social-type li:active {
  background-color: #ee3643;
}

.footer-email {
	margin-right: 42px;
}

/*main catalog*/

.breadcrumbs {
	list-style: none;
	position: relative;
}

.breadcrumbs li::before {
	content:"";
	position: absolute;
	width: 8px;
	height: 12px;
	top:2px;
	left: 0;
	background-image: url("../img/svg-technomart/icon-right-small.svg");
	background-repeat: no-repeat;
}

.breadcrumbs::before {
	content: "";
	position: absolute;
	width: 14px;
	height: 12px;
	top:2px;
	left:-2px;
	background-image: url("../img/svg-technomart/icon-home.svg");
	background-repeat: no-repeat;
	cursor: pointer;   
}

.breadcrumbs-catalog,
.breadcrumbs-tools,
.breadcrumbs-current,
.catalog-filter,
.catalog-sort {
	font-family: "PT Sans", Arial,sans-serif;
	color: #000000;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}
 
.catalog-title {
	background-color:#f2f6f8;
	color: #32425c;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

.catalog-filter,
.catalog-sort {
	background-color:#f7f3ec;
	font-weight: normal;
	padding: 0;
  margin: 0;
  padding-left: 19px;
	padding-top: 9px;
	padding-bottom: 9px;
}

.filters-price {
	padding: 0;
	margin: 0;
	min-height: 207px;
}

.filters-makers {
	padding: 0;
	margin: 0;
	border-top: 1px solid #e5e5e5;
	min-height: 262px;
}

.name-filters-makers {
	margin: 0;
	padding: 0;
	list-style: none;
}

.filters-power {
	padding: 0;
	margin: 0;
	border-top: 1px solid #e5e5e5;
	min-height: 199px;
}

.type-filters legend {
  font-family: "PT Sans", Arial,sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}	

.type-filters input {
  font-family: "PT Sans", Arial,sans-serif;
  border: none;
  background-color: #f7f3ec;
  text-align: center;
  font-size: 17px;
	line-height: 18px;
}

.type-filters input {
	width: 95px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-radius: 3px;
	margin: 0;
}


.type-filters label {
  font-family: "PT Sans", Arial,sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.type-maker {
	padding-top: 16px;
}

.filters-button {
  font-family: "PT Sans", Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
	background-color: #ffffff;
	color:#000000;
	width: 140px;
	border: 1px solid #e5e5e5;
	padding: 0;
	margin: 0;
	padding-top:10px;
	padding-bottom:10px;  
}

.sort {
	color: rgba(0, 0, 0, 0.3);
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
}

.sort:hover {
	color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort:active {
	color: #ee3643;
	border-bottom: none;
}

.about-perforators {
	background-color: #f4f7f9;
}


/*сеточные стили*/

html, body {
  min-width: 960px;
}

img {
	max-width: 100%;
	height: auto; 
}

.visually-hidden:not(:focus):not(:active) {
	position:absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-header {
  min-height: 320px;/*временно*/
  display: flex;
  flex-direction: column;
  margin: 0;
	margin-bottom: 60px;
  padding: 0;
}
 
.header-top {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top .container {
  display: flex;
}

.main-header-bookmarks {  
	position: relative;
	padding-left: 44px;
	width: 106px; 
}

.main-header-bookmarks::before {
	content: "";
	position: absolute;
  top: 12px;
	left: 17px;
	width: 14px;
	height: 16px;
  background-image: url("../img/svg-technomart/icon-bookmark.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
}

.main-header-bookmarks:hover::before,
.main-header-bookmarks:active::before { /*не работает*/
	opacity: 0%;
}

.main-header-basket {
	position: relative;
	width: 100px;
	padding-left: 49px;
}

.main-header-basket::before {
	content: "";
	position: absolute;
  top: 12px;
	left: 17px;
	width: 15px;
	height: 15px;
  background-image: url("../img/svg-technomart/icon-cart.svg");
	background-repeat: no-repeat;
	opacity:0.3 ;
}

.container .header-bottom {
	display: flex;
	justify-content: space-between;
  padding: 0;
	padding-top: 49px;
	padding-bottom: 40px;
  margin: 0;
}

.title {
  display: block;
	width: 197px; 
	padding:0;  
	margin: 0;
	padding-left: 52px;
}

.address {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 270px;
	padding:0;  
	margin: 0;
}

.address a {
	display: inline-block;
	border: 3px solid #ffffff;
	width: auto;
	padding:0; 
	margin: 0;
	padding-left: 71px;
  text-align: start;
  padding-top: 7px;
  padding-bottom: 8px;
}

.address p {
	display: inline-block;
	border: none;
	width: auto;
	margin: 0;
	padding: 0;
	text-align: center;
}

.login-link {
  display: flex;
  justify-content: space-between;
  width: 281px;
  margin: 0;
	padding: 0;
}

.velcome {
	position: relative;
	display: inline-block;
	width: 121px;
	margin: 0;
	padding: 0;
	border:none;
	padding-top: 9px;
}

.velcome::before {
position: absolute;
content: "";
width: 20px;
height: 17px;
top:11px;
left: 13px;
background-image: url("../img/svg-technomart/icon-login.svg");
background-repeat: no-repeat;
}

.registry {
	display: inline-block;
	width: 150px;
	margin: 0;
	padding: 0;
	border: none;
	text-align: center;
	padding-top: 9px;
}


.inner-peage .login-link  {
	display:flex;
	flex-direction: column;
	width: 300px;
}

/*
.account {
	
}

.user-navigation {
	/*display: flex;*/
	/*flex-wrap: wrap;
	justify-content: space-between;
	width: 210px;
	min-height: 14px;
	
}
*/

.type-services  {
	display: flex;
	margin-bottom:35px;
}

.type-services-item {
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:0;
  padding: 0;
  width: 940px;
  min-height: 398px;
}

.popular {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.popular-goods,
.popular-makers {
  display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  width: 886px;
  min-height: 89px;
	margin: 0;
	padding: 0;
	padding-left: 30px;
  padding-right: 24px;
}

.button-makers,
.button-goods {
	width: 253px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.catalog {
	width: 940px;
  margin:0px;
  padding: 0;
}

.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	margin-top: 21px;
	margin-bottom: 19px;
}

.catalog-item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  width: 220px;
  min-height: 318px;
	margin: 0px;
	padding: 0px;
}

.activ-item {
	position: absolute;
	content: "";
	/*display: none;*/
 	flex-direction: column; 
	background-color: white;
	width: 100%;
	margin: 0px;
	top: 38px;
	padding: 0px;
	margin: auto;
}

.button-basket {
	font-family: "Cuprum", Arial, sans-serif;
  padding-top: 10px;
  padding-bottom:  10px;
}

.button-bookmarks {
	font-family: "Cuprum", Arial, sans-serif;
  padding-top: 7px;
  padding-bottom:  7px;
}

.list-makers {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  min-height: 310px;
	margin: 0;
  padding: 0;
}

.item-makers {
  display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	margin-top: 20px;
}

.item-makers a {
margin: auto;	
}






.inform h3,
.about-perforators h2,
.services h2 {
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
	font-weight: normal;
}

.services p,
.inform p,
.about-perforators p {
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: normal;
}    

.slide-windows h3 {
	font-weight: normal;
	font-size: 36px;
	line-height: 36px;
	color: #32425c;
	text-transform: uppercase;
}

.button-slide {
	font-family: "Cuprum", Arial, sans-serif;
	background-color: #32425c;
	color: #ffffff;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	border:none;
	width: 240px;
	padding: 14px 0 17px 22px;
	text-transform: none;
	box-shadow:inset 0px 1px 0 0 #405069;
	cursor: pointer;
}

.button-slide:hover {
	background-color: #293449;
}

.button-slide:checked {
	background-color: #ffffff;
	color: #32425c;
	box-shadow: none;
}

.services {
	display: flex;
	width: 100%;
  margin: 0;
	padding: 0;
	background-color: #f2f6f8;
	margin-top:85px ;
	margin-bottom: 82px;
}

.title-promo {
	width: 400px;
	min-height: 96px;
	margin-bottom: 67px;
}

.services h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 62px;
}

.services p {
	display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 26px;
}

.slider {
	position: relative;
	display: flex;
	padding: 0;
	margin: 0;
}	

.slider-control {
	list-style: none;
	position: relative;
	width: 240px;
	padding: 0;
	margin: 0;
	margin-right: auto;	
}

.slider-control::after{
	content: "";
	position: absolute;
	width: 10px;
	height: 250px;
	background-image: url("../img/shadow.jpg");
	background-repeat: no-repeat;
	right: 0px;
	top: -40px;
}

.slider-control li {
	display: inline-block;
}

.slider-control button {/* есть повтор*/
	display: block;
	padding: 0;
	margin: 0;
	text-align: start;
	padding-top: 16px;
	padding-left: 22px;
	padding-bottom: 14px;
}

.slide-windows {
	width: 620px;
	min-height: 285px;
	padding: 0;
	margin: 0;
}

.slide-windows-delivery {
	display: none; /*не работает*/
	display: block;
	position: relative;
	min-height: 147px;
	width: 275px;
}

.slide-windows-delivery::after {
	content: "";
	position: absolute;
	width: 468px;
	height: 261px;
	border: 0;
	left: 150px;
	bottom: -127px;
	background-color: #f4f7f9;
	background-image: url("../img/slide-delivery.png");
	background-repeat: no-repeat;
	background-color: transparent;
}

.slide-windows h3{
	display: block;
	margin: 0;
	padding: 0;
}

/*
.slide-windows-assurance {
  position: relative;
	min-height: 172px;
	width: 379px;
}

.slide-windows-assurance::after {
	content: "";
	position: absolute;
	width: 389px;
	height: 283px;
	border: 0;
	left: 230px;
	bottom: -85px;
	background-color: #f4f7f9;
	background-image: url("../img/slide-assuranсe.png");
	background-repeat: no-repeat;
	background-color: transparent;
}

.slide-windows-credit {
	display: none; 
	position: relative;
	min-height: 100px;
	width: 279px;
}


.slide-windows-credit::after {
	content: "";
	position: absolute;
	width: 465px;
	height: 285px;
	border: 0;
	left: 165px;
	bottom: -130px;
	background-color: #f4f7f9;
	background-image: url("../img/slide-credit.png");
	background-repeat: no-repeat;
	background-color: transparent;
}
*/

.inform {
	display: flex;
	min-height: 372px;
	padding: 0;
	margin: 0;
	margin-top: 82px;
	margin-bottom: 86px;
}

.inform h3 {
  display: inline-block;
  margin: 0;
	padding: 0;
}

.inform p {
	margin: 0;
	padding: 0;
	padding-top: 24px;
}

.inform .min-map {
	margin-top: 30px;
}

.column-left {
	display: flex;
	flex-direction: column;
	width: 519px;
	min-height: 368px;
	margin-right: auto;
}

.column-right {
	display: flex;
	flex-direction: column;
	width: 300px;
	min-height: 368px;
}

.column-right p {
	width: 179px;
}

.main-footer {
	min-height: 300px;
	width: 100%;
  margin: 0;
  padding: 0;
}

.main-footer .container {
	display: flex;
	flex-direction: row;
}

.contacts-logo {
	display: flex;
	flex-direction: column;
	width: 325px;
	min-height: 193px;
	margin: 0;
	margin-right: auto;
  padding: 0;
}

.main-footer-logo {
	width: 220px;
	min-height: 63px;
	margin: 0;
  padding: 0;
}

.contacts {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	width: 325px;
	min-height: 40px;
	margin: 0;
  padding: 0;
}

.footer-navigation {
	width: 550px;
	min-height: 113px;
	margin: 0;
	padding: 0;
}
 
.footer-goods {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	padding-left: 26px;
	margin-top: 33px;
}

.footer-info {
	list-style: none;
	display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 35px;
}

.footer-bottom {
	margin: 0;
	padding: 0;
  width: 100%;
}

.footer-bottom .container {
  display: flex;
  min-height: 107px;	
}

.footer-copyright {
	width: 227px;
	min-height: 42px;
	margin: 0;
	padding: 0;
	padding-top: 35px;
}

.social-type {
	display: flex;
	justify-content: space-between;
	width: 130px;
	min-height: 42px;
	margin: 0;
	margin-left: 164px;
	margin-right: auto;
	padding: 0;
	padding-top: 32px;
}

.email-copyright {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 298px;
	min-height: 42px;
	margin: 0;
	padding: 0;
	margin-top: 18px;
}

/*catalog*/

.breadcrumbs {
	display: flex;
	/*min-height: 12px;*/
	margin: 0;
	padding: 0px;
	width: 360px;
	/*padding-top: 19px;
	padding-bottom: 15px;*/
	margin-top: 20px;
	margin-bottom: 20px;
}

.breadcrumbs li {
	margin-left: 20px;
	
}

.breadcrumbs a {
	padding-left: 20px;
	
}

.catalog-title {
	/*min-height: 89px;
	margin-top: 20px;*/
	margin: 0;
	padding: 0;
	padding-left: 29px;

  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog-columns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
	padding: 0px;
}

.filters {
	display: flex;
	flex-direction: column;
	width: 220px;
	min-height: 1145px;
  margin: 0;
	padding: 0px;
}

.inner-peage .catalog {
	display: flex;
	flex-direction: column;
	width: 700px;
	min-height: 1145px;
	margin: 0;
	padding: 0px;
}

.sort-type {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 700px;
	min-height: 38px;
	margin: 0;
	padding: 0;
	background-color: #f7f3ec;
}

.sort-type::before {
position: absolute;
content: "";
width: 11px;
height: 10px;
top:0;
right: 0;
background-image: url("../img/svg-technomart/icon-up-dir.svg");
background-repeat: no-repeat;
}
.sort-type::after {
	position: absolute;
	content: "";
	width: 11px;
	height: 10px;
	top:2px;
	right: 0;
	background-image: url("../img/svg-technomart/icon-down-dir.svg");
	background-repeat: no-repeat;
}

.sort-type a {
	padding: 10px;
}

.inner-peage .main-header {
	margin-bottom: 0px;
}

.inner-peage .catalog-list {
	margin: 0;
	padding: 0px;
}

.inner-peage .catalog-item {
	margin-top: 20px;
}

.inner-peage .catalog-item:nth-child(3n) {
	margin-right: 0px;
}

.pagination-list {
	/*display: flex;
	align-items: center;*/
	list-style: none;
	margin: 0;
	margin-right: 10px;
	margin: 50px 0 0;
	padding: 0;
	width: 300px;
	white-space: nowrap;
}

.pagination-list li {
  display: inline-block;
  margin-right: 6px;
	vertical-align: top;
	font-size: 13px;
	line-height: 18px;
}

.pagination-list a {
  font-family: "PT Sans", Arial, sans-serif;
	color: #000000;  
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}


.pagination-list a {
	display: block;
	min-width: 36px;
	height: 36px;
	text-align: center;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

.pagination-item-сurrent,
.pagination-item-сurrent:hover {
	background-color: #ee3643;
	border: 1px solid #ee3643;
}

.pagination-item-сurrent {
	color: #fff;
	cursor: pointer;
}

.pagination-item-next {
	padding: 0 31px;
}



.about-perforators {
	width: 100%;
  margin: 0;
	padding: 0;
}

.about-perforators {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	margin-top: 59px;
	min-height: 261px;
}

.about-perforators h2 {
  margin: 0;
  padding: 0;
  margin-top: 62px;
}


.about-perforators p {
	margin: 0;
	padding: 0;
	margin-top: 26px;
}


/*modal*/
.modal {
  background-color:#ffffff;
  color: #00000000;
	position: fixed;
	box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-close {
	position: absolute;
	top:16px;
	right: 9px;
	width: 21px;
	height: 21px;
	border: 0;
	background-color: transparent;
	font-size: 0;
	cursor: pointer;
}

.modal-close::after,
.modal-close::before {
	content: "";
	position: absolute;
  width: 19px;
	height: 3px;
	top: 9px;
	left: 1px;
  background-color: #ee3643;
}

.modal-close::after {
	transform: rotate(45deg);
}

.modal-close::before {
	transform: rotate(-45deg);
}

.modal-letter::before,
.modal-backet::before {
	content: "";
	position: absolute;
  width: 100%;
	height: 7px;
	top:0px;
	left:0px;
	background-color: #ee3643;
}
/*
.modal-letter {
	width: 620px;
	min-height: 430px;
	top: 120px;
	left: 50%;
	margin-left: -310px;
}

.letter-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 80px;
	padding-right: 80px;
}

.letter-form label {
	font-size: 18px;
	line-height: 18px;
	color: #000000;
}

.letter-form input,
.letter-form textarea {
	font-size: 13px;
	line-height: 18px;
	color: #a9a9a9;
	text-align: left;
	width: 220px;
}

.letter-form textarea {
	width: 460px;
}

.letter-form p {
  display: block;
	width: 220px;
}

.letter-form p:last-of-type {
	display: block;
	width: 460px;
}

.letter-form input[type="text"],
.letter-form textarea[type="text"]{
	font: inherit;
	font-family: "PT Sans", Arial,sans-serif;
	color: #a9a9a9;
  box-sizing: border-box;
  border: 2px solid #d7dcde;
	border-radius: 2px;
	background-color: #ffffff;
}

.letter-form input[type="text"]:hover,
.letter-form textarea[type="text"]:hover {
	border: 2px solid #b5b5b5;
}

.letter-form input[type="text"]:focus,
.letter-form textarea[type="text"]:focus {
	border: 2px solid #ee3643;
}*/


.modal-map {
	display: none; /*временно*/
	width: 940px;
	margin: 0;
	padding: 0;
  top: 25px;
	left: 50%;
	margin-left: -470px;
}

/*.modal-backet {
	display: none; 
	display: flex;
	flex-direction: column;
	width: 620px;
	top: 120px;
	left: 50%;
	margin-left: -310px;
}*/

.modal-backet h2 {
	position: relative;
	padding-top: 68px;
	padding-bottom: 68px;
	padding-right: 125px;
	padding-left: 179px;
  margin: 0;
}

.modal-backet h2::before{
	content: "";
	position: absolute;
  width: 66px;
	height: 66px;
	top: 48px;
	left: 81px;
  background-image: url("../img/svg-technomart/icon-mark.svg");
	background-repeat: no-repeat;
}

.order-catalog {
	background-color: #f1f1f1;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 37px;
	padding-top: 37px;
}

.button-send,
.button-order,.button-continue {
	display: inline-block;
	width: 220px;
	padding-top: 14px;
	padding-bottom: 14px;  
	background-color: #ee3643;
	border-radius: 3px;
	text-align: center;
}

.button-continue {
	background-color: #ffffff;
	margin-left: 16px;
}

.button-send {/*не принимает шрифты и цвета*/
	width: 460px;
	border: none;
	color: #ffffffff;
}


/*.modal-letter input {
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  font-family: "PT Sans", Arial, sans-serif;
}

/*.button-send input {
	background-color: #ee3643;
	color:#ffffff;
  font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: normal;
}*/

.button-continue {
	background-color: #ffffff;
	color: #000000;
  font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: normal;
}

.order-catalog {
	background-color: #f1f1f1;
}

.modal-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #000000;
}































div,
section,
a,
ul,
li,
p,
footer,
header {
  outline: 1px solid red;
}